  body {
    font-family:Helvetica;
    background-color:#505050
  }

  .bigc{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    height: 600px;
    width: 380px;
    background-color: #1C1C1C;
    display: grid;
    place-items: center;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0 0 30px #D4D4D2;
  }
  #display {
    color: #fff ;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 40px;
    margin-bottom: 20px;
    overflow-x: auto;
  }
  
  .output
  {
    align-items: center;
      padding : 20px;
      color: white;
  
  }
  .result
  {   
      align-items: center;
      padding:25px;
      color: white;;
  }
  button {
    color:white;
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition:all 200ms ease-in;
  }

  .bo,.be{
    background-color: #FF9500;
  }
  .bn{
    background-color: #505050;
  }
  button:hover {
    transform: scale(1.1);
  }
  .bo:hover,.be:hover{
    background-color: white;
    color:#FF9500;
  }
  .bn:hover{
    background-color: #D4D4D2;
    color:#505050;
  }
  #equal {
    height: 130px;
  }
  #zero{
    width:130px;
  }